/************************************Styling Body***************************************/
body {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(https://t3.ftcdn.net/jpg/03/57/76/24/360_F_357762401_Q6IYG6rSR6yoy2mnBsOF3ZtuYVzBNARe.jpg); */
    background-size: cover;
    font-family: sans-serif;
    background: linear-gradient(to right, skyblue, white);
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
}

/****************************CSS for app-container*****************************************/
#app-container {
    height: 40vw;
    width: 50vw;
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background: linear-gradient(to right, white, rgb(248, 213, 219));
}

/* Header of app */
#header-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #455466;
    margin-bottom: -20px;
    height: 15%;
}

/* CSS for Description div */
#description-div {
    padding-left: 20px;
    border-bottom: 1px solid rgb(163, 162, 162);
    border-top: 1px solid rgb(163, 162, 162);
    padding-bottom: 8px;
    height: 43%;
}

#description-div p {
    font-weight: 600;
    color: rgb(90, 88, 88);
    font-size: 18px;
    margin-top: 5px;
}

#description-div input {
    outline: none;
    border: none;
    background: transparent;
    color: rgb(102, 101, 101);
    font-size: 15px;
    margin-top: -8px;
}

/* Css for category & date of task */
#Category-Date-div {
    width: 100%;
    border-bottom: 1px solid rgb(163, 162, 162);
    font-weight: 600;
    color: rgb(90, 88, 88);
    font-size: 18px;
    height: 45%;
    padding-bottom: 4px;
}

#category-div {
    width: 50%;
    padding-left: 20px;
    height: 100%;
    border-right: 1px solid rgb(163, 162, 162);
}

#category-div select {
    border: none;
    outline: none;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    margin-top: -6px;
}

#category-div p {
    margin-top: 5px;
}

#date-div {
    width: 50%;
    padding-left: 20px;
    height: 100%;
}


#date-div input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    width: 60% !important;
    margin-top: -6px;
    margin-bottom: 4px;
    background-color: #FBE3E7;
}

#date-div p {
    margin-top: 5px;
}

/* Css for add & delete task button */
#add-delete-button-div {
    border-bottom: 1px solid rgb(163, 162, 162);
    height: 40% !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 12%;
}

#add-delete-button-div button {
    height: 70%;
    width: 28%;
    margin: 4px;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

#add-task-button {
    background-color: #444444;
    align-items: center;
    justify-content: center;
}

#delete-task-button {
    background-color: #ED351E;
    align-items: center;
    justify-content: center;
}

#delete-task-button i,
#add-task-button i {
    margin-right: 6px;
}

/* CSS for Task Container */

#task-container {
    overflow-y: scroll;
    padding-top: 20px;
    margin-top: 20px;
}

#task-container h2{
    font-family: cursive;
    font-weight: 900;
    color: rgb(18, 110, 146);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

#task-container::-webkit-scrollbar {
    visibility: hidden;
}

.task-division {
    border-bottom: 1px solid rgb(163, 162, 162);
    padding-left: 20px;
    align-items: center;
    justify-content: space-around;
}

.check-boxes {
    margin-right: 20px;
    margin-top: -20px;
}

.check-boxes input {
    border-color: #444444 !important;
    border-radius: 4px;
    outline: none;
    height: 16px;
    width: 16px;
}

.task-information {
    width: 80%;

}

.task-text {
    font-weight: 600 !important;
    font-family: sans-serif !important;
    font-size: 17px;
    color: #444444;
    margin-top: 5px;
}

.date {
    font-size: 14px;
    color: grey;
    margin-top: -15px;
}

.task-type {
    margin-right: 10px;
}

.task-type div {
    margin-right: 20px;
    background-color: purple;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
    height: 25px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media query */
@media screen and (max-width : 1100px) {
    #app-container {
        height: 50vw;
        width: 60vw;
    }

    #category-div select {
        width: 70%;
    }

    #date-div input {
        width: 70%;
    }

    #add-delete-button-div button {
        width: 27%;
    }
}

@media screen and (max-width : 900px) {
    #app-container {
        height: 60vw;
        width: 70vw;
    }

    #category-div select {
        width: 80%;
    }

    #date-div input {
        width: 80% !important;
    }

    #add-delete-button-div button {
        width: 30%;
    }
}

@media screen and (max-width : 700px) {
    #app-container {
        height: 80vw;
        width: 85vw;
    }

    #category-div select {
        width: 90%;
    }

    #date-div input {
        width: 90% !important;
    }

    #add-delete-button-div button {
        width: 35%;
    }

}


@media screen and (max-width : 550px) {
    #app-container {
        height: 95vw;
        width: 95vw;
    }

    #category-div select {
        width: 95%;
    }

    #date-div input {
        width: 95% !important;
    }

    #add-delete-button-div button {
        width: 38%;
    }

}

@media screen and (max-width : 450px) {
    #app-container {
        height: 130vw;
        width: 95vw;
    }

    #category-div select {
        width: 98%;
    }

    #date-div input {
        width: 98% !important;
    }

    #add-delete-button-div button {
        width: 40%;
    }

    .task-type {
        margin-right: -20px;
    }
}